html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

#root {
    width: 940px;
    padding: 2rem;
}

#core {
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.header,
.subheader,
.footer,
.nav-items {
    display: flex;
}

.header {
    width: 100%;
    flex-direction: column;
}

.subheader {
    justify-content: space-between;
}

.subheader img {
    width: 70px;
}

.nav-items {
    list-style-type: none;
    gap: 1.5rem;
    align-items: center;
}

.appContent {
    flex: 1;
}

.footer {
    align-items: center;
}